.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px maroon;
    color: brown;
    font-family: cursive;
    font-weight: bold;
}

.note 
{
    font-size: 15px;
    color:darkred
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 2;
    text-align: center;
}

canvas {
    border: 5px solid maroon;
    border-radius: 20px;
    box-shadow: 5px 5px 5px burlywood;

}